.precio-rebajado{
    text-decoration: line-through;
    color: var(--color-gris-claro);
}

.porcentaje-descuento{
    position: absolute;    
    background-color: var(--color1);
    color: var(--color-blanco);
    padding: 5px 10px;
    top: 10px;
}
.bi-eye{
    position: absolute;
    right: -25px;
    top: 5px;
    padding: 11px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-blanco);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.bi-eye:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.bi-eye-final{
    right: 5px;
    opacity: 1;
    pointer-events: all;
}

.agregar-carrito{
    cursor:pointer;
}

.agregar-carrito:hover{
    color: var(--color1);
}